@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title.</h2>


<address>
    Üks Tallinn Kaks<br />
    Estonia, Tallinn<br />
    <abbr title="Phone">Telefoni: +372 1245 1784</abbr>
</address>

<address>
    <strong>Toetus:</strong>   <a href="mailto:toetus.kutse@gmail.com">toetus.kutse@gmail.com</a><br />
</address>