@model Kutse_App.Models.Guest

@{
    ViewBag.Title = "Tänan!";
}

<div>
    <p> Tänan sind, @Model.Name</p>
    <p>Test: @Model.Email</p>
</div>

<div>
    @if (Model.WillAttend == true)
    {
        @:Ootan siin väga!!!
        <br />
        <img src="~/Images/great.jpg" />
    }
    else
    {
        @:Väga kurb!!! Näeme seisel korral!!!
        <br />
        
    }
</div>
<div>
    <input type="button" value="Meeldetuletus" />
</div>
<h2>Thanks</h2>